<!DOCTYPE html>
<html>
<head lang="de">
    <title>{{title}}</title>
    <meta charset="utf-8"/>

    <link rel="icon" href="" type="image/png"/>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    {{#if config.layout }}
      <link rel="stylesheet" href="/stylesheets/{{config.layout}}.css" />
    {{/if}}
</head>
<body>
    {{{body}}}
</body>
</html>
