<main>
    <header>
        <h1>Neue ToDo</h1>
    </header>
    <section class="content">
        <form method="POST">
            <label>
                <span>Titel</span>
                <input type="text" name="title" placeholder="Titel" required autofocus />
            </label>
            <label>
                <span>Beschreibung</span>
                <textarea name="description" placeholder="Beschreibung" required></textarea>
            </label>

            <label>
                <span>Wichtigkeit</span>
                <input type="range" min="0" max="5" step="1" value="0" name="rating" required />
            </label>

            <label>
                <span>Fertig bis</span>
                <input type="date" name="dueDate" placeholder="DD/MM/YYYY" pattern="(?:(?:0[1-9]|1[0-2])[\/\\-. ]?(?:0[1-9]|[12][0-9])|(?:(?:0[13-9]|1[0-2])[\/\\-. ]?30)|(?:(?:0[13578]|1[02])[\/\\-. ]?31))[\/\\-. ]?(?:19|20)[0-9]{2}" required />
            </label>

            <label class="unlabeled">
                <input type="checkbox" name="finished" />
                <span>Erledigt</span>
            </label>

            <div class="unlabeled">
                <button type="submit">Anlegen</button>
                <a href="./" class="button">Abbrechen</a>
            </div>
        </form>
    </section>
</main>
