<main>
    <header>
        <h1>Neue ToDo</h1>
    </header>
    <section class="content">
        <form action="/" method="POST">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" placeholder="Title" required autofocus />

            <label for="description">Beschreibung</label>
            <textarea name="description" id="description" placeholder="Beschreibung" required></textarea>

            <label for="rating">Wichtigkeit</label>
            <input type="range" min="1" max="5" step="1" placeholder="1-5" name="rating" id="rating" required />

            <label for="due-date">Fertig bis</label>
            <input type="date" name="dueDate" id="due-date" placeholder="DD/MM/YYYY" required />

            <input type="checkbox" name="finished" />

            <button type="submit">Anlegen</button>
        </form>
        <form action="/" method="POST">
            <button type="submit">Abbrechen</button>
        </form>
    </section>
</main>
