/* GENERAL */
body {
    background-color: #03a9f4;
}

main > .button {
    background: #0277bd;
}

header {
    background: #0277bd;
}

header .button {
    background: #03a9f4;
}

/* ELEMENTS */
.toolbox {
    background: #0277bd;
}

.button,
button {
    padding: 0.5rem;
    min-width: 15rem;
    background: #0277bd;
    color: #FFF;
    border: none;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    border-radius: 0.3rem;
    margin: 0.5rem;
    outline: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 2rem;
}


