*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */
body {
  background-color: #1abc9c;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

main > .button {
  background: #16a085;
}

header {
  background: #16a085;
  padding: 1rem;
}

header .button {
  background: #1abc9c;
}

/* ICON */
.star:before {
  content: "\2605";
  display: inline-block;
}

/* ELEMENTS */
.toolbox {
  background: #16a085;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  border-radius: 0.3rem;
  padding: 1rem;
}

/* TEXT */
h1 {
  font-size: 2rem;
  color: #FFF;
  margin: 0.5rem 0;
}

span {
  font-size: 1.2rem;
}

/* LAYOUT */
.toolbar {
  display: flex;
  flex-flow: row wrap;
}

.toolbar > a:last-child {
  margin-left:auto;
}

.content {
  padding: 2rem 1rem;
}

main > header {
  border-bottom: 1px solid #EEE;
}

/* ARTICLE */
article {
  margin-bottom: 2em;
  border: 1px solid #EEE;
  border-radius: 0.3rem;
  overflow: hidden;
}

article > div {
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem 0;
}

article > div > textarea {
  flex: 2;
}

article > header {
  display: flex;
  justify-content: space-between;
}

article > header > span:nth-last-child(2) {
  flex: 1;
  padding: 0 1rem;
}


/* FORM */
label {
  display: block;
  margin: 1rem;
}

label > input:not([type=checkbox]),
textarea {
  display: inline-block;
  padding: 0.5rem;
  margin: 0 .5rem;
  border-radius: 0.3rem;
  border: none;
}

label > span:nth-child(1) {
  padding: 0.5rem 1rem 0 0;
  width: 20%;
  text-align: right;
  display: inline-block;
  vertical-align: top;
}

label > input:not([type=checkbox]),
label > textarea {
  width: 75%;
}

.unlabeled {
  margin-left: calc(20% + 1rem);
}

input[type="range"]::-moz-range-track {
  background: #EEE;
  outline: none;
}

.button,
button {
  padding: 0.5rem;
  min-width: 15rem;
  background: #16a085;
  color: #FFF;
  border: none;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  border-radius: 0.3rem;
  margin: 0.5rem;
  outline: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
}

@media all and (max-width: 70em) {
  article > div {
    flex-direction: column;
  }

  .toolbar {
    flex-flow: column wrap;
  }

  .toolbar > a:last-child {
    margin: 0.5rem;
  }

  label > span:nth-child(1) {
    text-align: left;
  }

  label > input:not([type=checkbox]),
  label > textarea {
    width: 100%;
  }

  label > input[type=checkbox],
  .unlabeled {
    margin-left: 0;
  }
}

