*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */
body {
  background-color: #1abc9c;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

main > button {
  background: #16a085;
}

header {
  background: #16a085;
  padding: 1rem;
}

header button {
  background: #1abc9c;
}

/* ICON */
.star:before {
  content: "\2605";
  position: absolute;
}

/* ELEMENTS */
.toolbox {
  background: #16a085;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  border-radius: 0.3rem;
  padding: 1rem;
}

/* TEXT */
h1 {
  font-size: 2rem;
  color: #FFF;
  margin: 0.5rem 0;
}

span {
  font-size: 1.2rem;
}

/* LAYOUT */
.toolbar {
  display: flex;
  flex-wrap: wrap;
}

.toolbar > a:nth-last-child(2){
  flex: 1 0;
}

.content {
  padding: 2rem 1rem;
}

main > header {
  border-bottom: 1px solid #EEE;
}

@media all and (max-width: 950px) {
  .filter {
    flex-direction: column;
  }
}

/* FORM */
label {
  display: block;
  margin: 1rem;
}

label > span:nth-child(1) {
  padding: 0.5rem 1rem 0 0;
  width: 20%;
  text-align: right;
  display: inline-block;
  vertical-align: top;
}

label > input:not([type=checkbox]),
label > textarea {
  display: inline-block;
  padding: 0.5rem;
  width: 75%;
  border-radius: 0.3rem;
  border: none;
}

label > input[type=checkbox],
.handles {
  margin-left: calc(20% + 1rem);
}

@media all and (max-width: 950px) {
  label > span:nth-child(1) {
    text-align: left;
  }

  label > input:not([type=checkbox]),
  label > textarea {
    width: 100%;
  }

  label > input[type=checkbox],
  .handles {
    margin-left: 0;
  }
}


input[type="range"]::-moz-range-track {
  background: #EEE;
  outline: none;
}

.button,
button {
  padding: 0.5rem;
  min-width: 15rem;
  background: #16a085;
  color: #FFF;
  border: none;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  border-radius: 0.3rem;
  margin: 0.5rem;
  outline: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 2rem;
}


